{% extends "layout.html" %}

{% block content %}
<!-- Page to edit profile -->
<div class="container-fluid text-md-left mt-5">
  <div class="col-md-12">
    <h1>{{ title }}</h1>
    <!-- Start of Form -->
    <form action="" method="post">
      {{ form.hidden_tag() }}

      <p>
        {{ form.displayname.label }}<br>
        {{ form.displayname(size=32) }}<br>
        {% for error in form.displayname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <ul>
        <li>Only alphanumeric characters: 0~9, a~z, A~Z and _.</li>
        <li>Space allowed, but not at the beginning or the end</li>
      </ul>
      </p>

      <p>
        {{ form.about_me.label }}<br>
        {{ form.about_me(cols=50, rows=4) }}<br>
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <!-- Submit Button -->
      <p>{{ form.submit() }}</p>

    </form>
    <!-- End of Form -->
    <a href="{{ url_for('user', username=current_user.username) }}">
      Cancel
    </a>

  </div>
</div>

{% endblock %}
