{% extends "layout.html" %}

{% block content %}
<!-- Login Page -->
<div class="container-fluid text-md-left mt-5">
  <div class="col-md-12">
    
    <div class="col-md-12 text-center">
      <h1 class="display-4">{{ title }}</h1>
    </div>

    <div class = "container" style="width:400px; margin:0 auto;">
      <div class = "card">
        <div class = "card-body">

          <!-- Start of Form -->
          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <!-- Start of Username section -->
            <p>
              {{ form.username.label }}<br>
              {{ form.username(size=32) }}<br>
              <!-- If an error occurs, print that error out in red next to the incorrect data field -->
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>

            <!-- Start of Password section -->
            <p>
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}<br>
              <!-- If an error occurs, print that error out in red next to the incorrect data field -->
              {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>

            <!-- Submit button -->
            <p>{{ form.submit(class="btn btn-outline-info") }}</p>

            <!-- Start of Remember me section -->
            <p>{{ form.remember_me.label }} {{ form.remember_me() }}</p>
          </form>

          <!-- Start of forgot your password field -->
          <p>Forgot Your Password?
            <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
          </p>

          <!-- Reigister button that takes you to registration page -->
          <p>New User? 
            <a href="{{ url_for('register') }}">Click to Register!</a>
          </p>

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
