{% extends "layout.html" %}

{% block content %}

<style>

  .btn-info-ban {
    color: #fff;
    background-color: red;
    border-color: red;
  }
  
  .btn-info-promote {
    color: #fff;
    background-color: green;
    border-color: green;
  }
  
  .profile-img {
    float:left;
	padding:15px;
  }
  
  .profile {
	margin-top:15px;
	margin-left:158px;
	padding: 15px;
	width: (100% - 200px);
	height:128px;
  }
  
  .about {
	padding:15px;
  }
</style>

<img src="{{ user.avatar(128) }}" class="d-block ui-w-40 rounded-circle profile-img" alt="profile icon">

<div class="profile">
    <h1>{{ user.displayname }}
	    {# indication of a super account #}
    {% if user.authority == 'admin' %}
    <span style="background-color: green; font-size:20px; color: white; border-radius:15px;padding:0px 7.5px;">admin</span>
    {% elif user.authority == 'webmaster' %}
    <span style="background-color: #17a2b8; font-size:20px; color: white; border-radius:15px;padding:0px 7.5px;">webmaster</span>
    {% elif user.authority == 'banned' %}
    <span style="background-color: red; font-size:20px; color: white; border-radius:15px;padding:0px 7.5px;">banned</span>
    {% endif %}</h1>
    <h4>username: {{ user.username }}</h4>
</div>

<div class="about">
  {% if user == current_user %}
    <p>
      <a href="{{ url_for('edit_profile') }}" class="btn btn-outline-info" role="button" 
        aria-pressed="true">Edit your profile</a>
    </p>
    {% endif %}
	  
    {% if user.about_me %}
   <b>About me:</b>
     <div style="padding:0px 15px;">{{ user.about_me }}</div>
      {% endif %}


      {% with time = user.member_since %}
      <p><b>Member since:</b> 
        {% include "includes/_time.html" %}
      </p>
      {% endwith %}

      {% with time = user.last_seen %}
      <p><b>Last seen:</b> 
        {% include "includes/_time.html" %}
      </p>
      {% endwith %}
</div>

{% if current_user.authority == 'admin'
    or current_user.authority == 'webmaster'%}

  {# superusers can ban/unban regular users #}
  {% if user.authority == 'user'%}
  <a href="{{ url_for('user', username=user.username, action='ban') }}" class="btn btn-info-ban btn-md">
    <span style="color: white;">Ban this user (Admin)</span>
  </a>
  {% elif user.authority == 'banned' %}
  <a href="{{ url_for('user', username=user.username, action='ban') }}" class="btn btn-info-ban btn-md">
    <span style="color: white;">Unban this user (Admin)</span>
  </a>
  {% endif %}

  {# webmaster can give/take-back other users admin privileges #}
  {% if current_user.authority == 'webmaster' %}
    {% if user.authority == 'user' %}
    <a href="{{ url_for('user', username=user.username, action='admin') }}" class="btn btn-info-promote btn-md">
      <span style="color: white;">Give administrator privileges (Webmaster)</span>
    </a>
    {% elif user.authority == 'admin' %}
    <a href="{{ url_for('user', username=user.username, action='admin') }}" class="btn btn-info-promote btn-md">
      <span style="color: white;">Remove administrator privileges (Webmaster)</span>
    </a>
    {% endif %}
  {% endif %}

{% endif %}

<hr>

{# recent posts of this user #}
<div style="padding:0px 15px 10px 15px;">
  <h4>Recent Activity</h4>

  {# only show 10 most recent activities #}
  {% for post in recent_activities %}

  <table style="float: left;">
    <tr>
      <td><img src="{{ user.avatar(32) }}" class="d-block ui-w-40 rounded-circle" alt="" style="padding-right:5px;"></td>
    </tr>
  </table>
  
  <table>

    <tr>
      <th><a href="{{ url_for('thread', id=post.thread.id) }}">{{ post.thread.topic }}</a>
	  <small style="color: #718096">
        {% with time = post.timestamp %}
          {% include "includes/_time.html" %}
        {% endwith %}
	  </small>
	</th>
    <tr>
      {% if post.is_topic() %}
      <td><i style="padding-left:15px;"><small style="color: #718096">
        Published a topic in the
        <a href="{{ url_for('forum', id=post.thread.section.id) }}">
          {{ post.thread.section.name }}</a> 
        section
      </small></i></td>
      {% else %}
      <td><i style="padding-left:15px;"><small style="color: #718096">
        Replied to 
        <a href="{{ url_for('user', username=post.thread.author().username) }}">
            {{ post.thread.author().displayname }}</a>
        's topic in the 
        <a href="{{ url_for('forum', id=post.thread.section.id) }}">
            {{ post.thread.section.name }}</a> 
        section
      </small></i></td>
      {% endif %}
    </tr>

    {% if post.closed %}
    {# if this post has been closed by an admin #}
    <tr>
      <td>
        <span style="color: #718096">
          <b>[This post has been closed by an administrator.]</b>
        </span>
      </td>
    </tr>
    {% else %}
    <tr>
      <td>"{{ post.body }}"</td>
    </tr>
    {% endif %}

  </table>

  <hr>
  
  {% endfor %}

</div>


{% endblock %}