{% extends "layout.html" %}

{% block content %}

<div class="container-fluid  text-center text-md-left mt-5">
  <div class="col-md-12 text-center">
    <h1 class="display-4">Calendar/Events</h1>
    <!-- Google Calder displaying the locations of Resources -->
    <h3> Upcoming Events </h3>
    <iframe
      src="https://calendar.google.com/calendar/embed?src=85vagn0b4empuvlr5h6kf7k4vs%40group.calendar.google.com&ctz=America%2FNew_York"
      style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <p>
      To add event, click the "+ button on the bottom right hand corner of the calendar."
    </p>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeY6PN-0xF0TzHc2z704KObf6MrrbKTK1uhJMbejVQDcZmbEg/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>

</div>
{% endblock %}
