{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="col-md-12 text-center">

    <h1>Resources</h1>
    <!-- Google Map for locations of resources -->
    <h4> A Map of Resources around the Area </h4>
    <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1teqQMb8M91EkgQv-IHxruHlC2YZTAVMo" width="640" height="480"></iframe>
    <hr>
    <br>
    <h3 class = "col-md-12 text-center"> Links to Resources </h3>


    <!-- Start of row 1 -->
    <div class="d-flex justify-content-center">
      <div class="card"  style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Fletcher Tilton</p>
          <p class="card-text">Worcester, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://www.fletchertilton.com/'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Special Needs Financial Planning a Specialty Practice of Affinia Financial Group</p>
          <p class="card-text">Burlington, MA</p>
          <button type="button" class="btn btn-info" onclick="window.location.href='https://specialneedsplanning.com/'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Legal Planning for Special Needs</p>
          <p class="card-text">Lexington, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='http://www.legalplanningforspecialneeds.com/resources.html'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Special Needs Law Group of Massachusetts, PC</p>
          <p class="card-text">Framingham, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://specialneeds-law.com/'">More Info</button>
        </div>
      </div>
    </div>
    <!-- End of row 1 -->


    <!-- Start of row 2 -->
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Julie O'Brien, MEd, LMHC Massachusetts General Hospital</p>
          <p class="card-text">Lexington, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://www.massgeneral.org/children/autism/lurie-center/julie-obrien'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Volunteer Lawyers Project</p>
          <p class="card-text">Boston, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://vlpnet.org/about-us/'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Guardianship Evaluations</p>
          <p class="card-text">Great Barrington, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://www.guardianshipevaluations.com/?fbclid=IwAR3dbDkHgujWueBB7lLnikp37XROHtXHSAHUMG_QAoanvR_25FCGfCAPSrs'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">The Heritage Law Center</p>
          <p class="card-text">Woburn & Beverly, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://www.maheritagelawcenter.com/?fbclid=IwAR2BsrdVtnnt_wl7b1ouUgGUKeWY-qCEpmVajuUjC-27nJdu11XNTCC68q4'">More Info</button>
        </div>
      </div>
    </div>
    <!-- End of row 2 -->


    <!-- Start of row 3 -->
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Law Offices of Pamela Schwartz</p>
          <p class="card-text">Methuen, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://www.schwartzlawoffice.com/'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Kotin Crabtree & Strong</p>
          <p class="card-text">Boston, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://www.kcslegal.com/our-firm/overview/?fbclid=IwAR14wx4AIlzWccg4xDHpUcc_SoGbaeqOvcTh5qRiUiY_CqR_IVTfHrww6KM'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Affinia Financial Group</p>
          <p class="card-text">Burlington, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://affiniafg.com/'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">The Bernstein Law Group, PC</p>
          <p class="card-text">Beverly & Woburn, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://blgpc.com/who-we-work-with/'">More Info</button>
        </div>
      </div>
    </div>
    <!-- End of row 3 -->


    <!-- Start of row 4 -->
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">The Law Firm of Ellen M. Winkler</p>
          <p class="card-text">Marblehead, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='http://www.emwinklerlaw.com/serv.html'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Education Consulting, Advocacy & Legal Services, LLC.</p>
          <p class="card-text">Saugus, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://www.educationandjuvenilelaw.com/?fbclid=IwAR3ydZtbJcUR_7EHU0w7g2IbnZNzr2HTZhXM-Mecx4-jTkpW1M9oTg5nIT4'">More Info</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Education Consulting, Advocacy & Legal Services, LLC.</p>
          <p class="card-text">Boston, MA</p>
          <button type="button" class="btn btn-info" onclick = "window.location.href='https://disabilityinfo.org/fact-sheet-library/basic-needs-2/basic-programs-services-for-people-with-disabilities/'">More Info</button>
        </div>
      </div>
    </div>
    <!-- End of row 4 -->

    
  </div>
</div>

<br>
<br>
<br>

{% endblock %}
