{% extends "layout.html" %}

{% block content %}

<!-- sub navigation bar displaying pages of the forum -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('forum') }}">Main Forum Page</a></li>
  </ol>
</nav>
<!-- End of sub navigation bar -->

<!-- Centers all of the content in the page -->
<div class = "container" style = "width: 50%;">
  <!-- Displays a white background around the form -->
  <div class = "card">
    <div class = "card-body">
      <h2>{{ title }}</h2>
      
      <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
          {{ form.name.label }}<br>
          {{ form.name(size=30) }}<br>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>

        <p>
          {{ form.slogan.label }}<br>
          {{ form.slogan(cols=40, rows=2) }}<br>
          {% for error in form.slogan.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>

        <p>
          {{ form.description.label }}<br>
          {{ form.description(cols=60, rows=5) }}<br>
          {% for error in form.description.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <!-- Submit button -->
        <p>{{ form.submit(class="btn btn-outline-info") }}</p>

      </form>
      <!-- Cancel button -->
      <a class="btn btn-outline-info" href="{{ url_for('forum') }}">Cancel</a>
    </div>
  </div>
</div>

{% endblock %}
