{% extends "layout.html" %}

{% block content %}

{# forum navigation #}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('forum') }}">Main Forum Page</a></li>
    {% with section = posts[0].thread.section %}
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{ url_for('forum', id=section.id) }}">{{ section.name }}</a>
    </li>
    {% endwith %}
  </ol>
</nav>

<div class = "container">
<h1>
  {% if this_thread.closed %}
  🔒
  {% elif this_thread.pinned %}
  📌
  {% endif %}
  {{ title }}
</h1>

<!-- This is what is displayed if the thread has been closed -->
{% if this_thread.closed %} <!-- If thread has been closed -->


  <span style="color: #718096">
    <b>[This thread has been closed by an administrator.]</b>
  </span>

  {% if current_user.authority == 'admin'
      or current_user.authority == 'webmaster' %}
  <br>
  <a class="btn btn-info btn-md" href="{{ url_for('thread', id=id,
      action='close') }}">Open thread (Admin)</a>  <!-- (ADMIN ONLY) can open the thread -->
  {% endif %}


{% else %} <!-- If thread is not closed -->


  <script>
    function toReply() {
      var elmnt = document.getElementById("reply");
      elmnt.scrollIntoView();
      $("#reply").effect("highlight", { color: "#47b1ff" }, 1000);

    }
  </script>

  {# button for scrolling down to reply section #}
  <div style="float: right;">
    <button onclick="toReply()" class="btn btn-outline-info">Reply to this topic</button> <!-- Button to reply -->
  </div>
  <br>
  <br>

  {# page selection #}
  {% include "includes/pages.html" %}

  {# posts #}
  <!-- A list of all of the threads. When a new thread is created, it gets added to the list of threads -->
  {% for post in posts %}
  <div class="container-fluid mt-100 slideDown" id="{{ post.id }}">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4" style="margin: 0 auto; float: none; margin-bottom: 10px;">
          <div class="card-header">

            {# post author info #}
            <div class="media flex-wrap w-100 align-items-center">
              {# avator #}
              <img src="{{ post.author.avatar(64) }}" class="d-block ui-w-40 rounded-circle" alt="">
              <div class="media-body ml-3">
                {# display name with a link to profile #}
                <b>
                  <a href="{{ url_for('user', username=post.author.username) }}">
                      {{ post.author.displayname }}</a>
                  {% if post.author.authority == 'admin' %}
                  <span style="background-color: green; font-size:14px; color: white; border-radius:15px;padding:0px 7.5px;">admin</span>
                  {% elif post.author.authority == 'webmaster' %}
                  <span style="background-color: #17a2b8; font-size:14px; color: white; border-radius:15px;padding:0px 7.5px;">webmaster</span>
                  {% endif %}
                </b>
                {# time posted #}
                <div class="text-muted small">
                  Posted at
                  {% with time = post.timestamp %}
                    {% include "includes/_time.html" %}
                  {% endwith %}
                </div>
              </div>
            </div>

            {# if this reply post has been closed by an admin #}
            {% if post.closed %}

            <span style="color: #718096">
              <b>[This post has been closed by an administrator.]</b>
            </span>
            <br>
              {% if current_user.authority == 'admin'
                  or current_user.authority == 'webmaster' %}
              <br>
              <a class="btn btn-info btn-md" href="{{ url_for('thread', id=id, page=this_page,
                  scroll_to=post.id, close_post_id=post.id) }}">Open (Admin)</a>
              {% endif %}

            {% else %}
              {# post info #}
              <div class="card-body">
                {# content of the post #}
                {% if not edit_post_id or edit_post_id != post.id|string %}
                {# only show it when not editing #}
                <td>
                  <p>{{ post.body }}</p>
                </td>
                <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%"
                    color=#b0e0e6 SIZE=3>
                {# edit info #}
                {% if post.edit_info %}
                <span style="color: #718096">
                  <b>
                    Modified by {{ post.edit_info.editor.displayname }}
                    {% if post.edit_info.editor.authority == 'admin'
                            or post.edit_info.editor.authority == 'webmaster' %}
                    [{{ post.edit_info.editor.authority }}]
                    {% endif %}
                    at
                    {% with time = post.edit_info.timestamp %}
                      {% include "includes/_time.html" %}
                    {% endwith %}
                  </b>
                  <br>
                  {{ post.edit_info.reason }}
                </span>
                <br>
                {% endif %}
              {% endif %}

              {# actions for the post #}
              {% if current_user == post.author
                  or current_user.authority == 'admin'
                  or current_user.authority == 'webmaster' %}

                {# when not editing this reply post #}
                {% if not edit_post_id or edit_post_id != post.id|string %}

                  {# buttons for the thread (topic and the topic post) #}
                  {% if loop.index == 1 and this_page == 1 %}

                    {# edit thread button #}
                    <a class="btn btn-outline-info" href="{{ url_for('edit_thread', id=id) }}">Edit</a>
                    {# close thread button for admin #}
                    {% if current_user.authority == 'admin'
                        or current_user.authority == 'webmaster' %}

                      <a class="btn btn-info btn-md" href="{{ url_for('thread', id=id,
                          action='close') }}">Close thread (Admin)</a>

                      <a class="btn btn-info btn-md" href="{{ url_for('thread', id=id,
                          action='pin') }}">
                        {% if this_thread.pinned %}
                        Unpin thread (Admin)
                        {% else %}
                        Pin thread (Admin)
                        {% endif %}
                      </a>

                    {% endif %}

                  {# buttons for a reply post #}
                  {% else %}

                    {# edit reply button #}
                    <a class="btn btn-outline-info" href="{{ url_for('thread', id=id,
                        page=this_page, edit_post_id=post.id, scroll_to=post.id) }}">Edit</a>
                    {# close reply button for admin #}
                    {% if current_user.authority == 'admin'
                        or current_user.authority == 'webmaster' %}
                      <a class="btn btn-info btn-md" href="{{ url_for('thread', id=id, page=this_page,
                          scroll_to=post.id, close_post_id=post.id) }}">Close (Admin)</a>
                    {% endif %}

                  {% endif %}

                {# when editing this reply post, show form #}
                {% else %}

                <form action="" method="post">
                  {{ edit_post_form.hidden_tag() }}
                  <p>
                    {{ edit_post_form.body(cols=50, rows=4) }}<br>
                    {% for error in edit_post_form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                  </p>
                  <p>
                    {{ edit_post_form.reason.label }}<br>
                    {{ edit_post_form.reason(cols=50, rows=1) }}<br>
                    {% for error in edit_post_form.reason.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                  </p>
                  <p>{{ edit_post_form.submit_save(class="btn btn-outline-info") }}</p>
                </form>
                <a class="btn btn-outline-info"
                    href="{{ url_for('thread', id=id, page=this_page, scroll_to=post.id) }}">Cancel</a>

                {% endif %}

              {% endif %}

            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {# page selection #}
  {% include "includes/pages.html" %}

  {# reply form #}
  <div id="reply">
    <table>
      <tr valign="top">

        <td>
          <img src="{{ current_user.avatar(64) }}" class="d-block ui-w-40 rounded-circle" alt="">
        </td>

        <td>
          <form action="" method="post">
            {{ reply_form.hidden_tag() }}
            <p>
              {{ reply_form.body(cols=50, rows=4) }}<br>
              {% for error in reply_form.body.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>{{ reply_form.submit_reply(class="btn btn-outline-info") }}</p>
          </form>
        </td>

      </tr>
    </table>
  </div>

  {# scroll into view #}
  {% if scroll_to %}
  <script>
    document.getElementById("{{scroll_to}}").scrollIntoView();
  </script>
  {% endif %}
</div>

{% endif %}

{% endblock %}
