{% extends "layout.html" %}

{% block content %}

<div class="container-fluid  text-center text-md-left mt-5">
    <div class="col-md-12 text-center">
        <h1 class="display-4">Contacts</h1>
    </div>

</div>

{% endblock %}
