<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #e3f2fd;">
    <!-- Footer Links -->
    <div class="container-fluid  text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Disclaimer</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>The material and information on this website is for general information purposes only. 
            You should not rely upon the material or information on the website as a basis for 
            making any legal or other decisions.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a href="{{ url_for('contactUs') }}">Contact Us</a></p>
          <p><a href="{{ url_for('register') }}">Become a member</a></p>
          <p><a href="{{ url_for('forum') }}">Forum</a></p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a href="mailto:Thoroughway123@gmail.com">Thoroughway123@gmail.com</a></p>
          <p>Boston, MA</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> Thoroughway © 2021
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
