{# page selection #}
<!-- This is a sub navigation bar specifically used for the forum that lets a user go to earlier posts in the forum -->
{% if last_page > 1 %}
<table><tr>

  {% if this_page > 1 %}
  <td><a href="{{ url_for(route, id=id, page=this_page-1) }}">
    <
  </a></td>
  {% endif %}

  {% if page_begin > 1 %}
  <td><a href="{{ url_for(route, id=id, page=1) }}">
    {% if this_page == 1 %}
      [{{ 1 }}]
    {% else %}
      {{ 1 }}
    {% endif %}
  </a></td>
  {% endif %}

  {% if page_begin > 2 %}
  <!-- Note that the ... means all of the pages up until the last page -->
  <td>...</td>
  {% endif %}

  {# neighbor pages of current page #}
  {% for pg in range(page_begin, page_end+1) %}
  <td><a href="{{ url_for(route, id=id, page=pg) }}"> <!-- Clicking on a page number brings you to that page in the forum -->
    {% if this_page == pg %}
      [{{ pg }}]
    {% else %}
      {{ pg }}
    {% endif %}
  </a></td>
  {% endfor %}

  {% if page_end < last_page-1 %}
  <td>...</td>
  {% endif %}

  {% if page_end < last_page %}
  <td><a href="{{ url_for(route, id=id, page=last_page) }}">
    {% if this_page == last_page %}
      [{{ last_page }}]
    {% else %}
      {{ last_page }}
    {% endif %}
  </a></td>
  {% endif %}

  {% if this_page < last_page %}
  <td><a href="{{ url_for(route, id=id, page=this_page+1) }}">
    >
  </a></td>
  {% endif %}

</tr></table>
{% endif %}
